# tex files genreates a lot of files, so we need to clean up
# we will be ignoring everything except the source codes.

# ignore everything
/*
# except the source codes
!*.tex
!*.bib
!*.cls
!*.sty
!*.bst
!*.png
!*.jpg
!*.pdf

